
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #000;
}

a, a:visited {
    color: #0066cc;
}

a:hover, a:active, a:visited:hover {
    color: #3399ff;
}

#header {
    padding: 40px;
    background: #eee;
}

#examples {
    padding: 40px;
}

h1 {
    border-left: 10px solid #ff6600;
    padding-left: 10px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

h3 small {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    color: #666;
}

#e1_inline {
    position: relative;
}